@import "tailwindcss";
@import "@fontsource/geist-sans";
@import "@fontsource/geist-mono";

@theme {
  --color-primary: #ec8b49;
  --color-primary-hover: #fcc192;

  --color-background-dark: #100f0f;
  --color-surface-dark: #1c1b1a;
  --color-surface-light: #343331;

  --color-border-dark: #100f0f;
  --color-border-light: #1c1b1a;

  --font-sans: "Geist Sans", sans-serif;
  --font-mono: "Geist Mono", monospace;

  --radius-xl: 1rem;
  --radius-2xl: 1.5rem;

  --animate-fade-in-up: fadeInUp 0.8s ease-out forwards;

  @keyframes fadeInUp {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
  }
}

.squircle {
  corner-shape: squircle;
}
